/* Estilo geral da página de login */


.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login_page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.login_page form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_page form div {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
    margin-right: 12px;
}

.login_page form input {
    width: 90%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    transition: all 0.3s ease;

}

.login_page form input:focus {
    border-color: #7710b3;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login_page form button {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    background: #840db3;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login_page form button:hover {
    background: #ac43dd;
}
