body{
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    background-color: #0d0d0df1
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #880202;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 60px;
}

.filmes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Ajuste o valor conforme necessário */
    background-color: #0d0d0df1;
    justify-items: center; /* Centraliza os itens dentro do grid */
}

.filmes-container .film-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.film-item:hover {
    transform: scale(1.05);
}

.film-item img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.film-item h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.film-item p {
    font-size: 1rem;
    color: #888;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.filmes-container .btn {
    background: #880202;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: background 0.3s;
}

.btn:hover {
    background: #f11111;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background: #880202;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.3s;
}

.pagination-button:hover {
    background: #f11111;
}

.pagination-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.pagination span{
    color: #880202;
    background-color: #ccc;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}