.navbar {
    background-color: #880202; /* Cor de fundo da navbar */
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: #d7d5d5; /* Cor dos links */
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #f7d354; /* Cor dos links ao passar o mouse */
}

.navbar-link:active {
    color: #0d0d0df1; /* Cor dos links ao clicar */
}